#search-form {
  width: 100%;
  max-width: 790px;
  margin: 0;
  .inner-form {
    width: 100%;
    .input-field {
      position: relative;
      input {
        height: 100%;
        border: 0;
        background: #fff;
        display: block;
        width: 100%;
        padding: 10px 32px 10px 70px;
        font-size: 18px;
        color: #666;
        border-radius: 5px;
        height: 70px;
        color: #555;
        &.placeholder, &:-moz-placeholder, &::-webkit-input-placeholder {
          color: #999;
          font-size: 18px;
        }
        &:hover, &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
      .btn-search {
        min-width: 100px;
        height: 40px;
        padding: 0 15px;
        background: #fd0648;
        white-space: nowrap;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        transition: all .2s ease-out, color .2s ease-out;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          background: #fd0648;
        }
      }
    }
    .basic-search {
      margin-bottom: 5px;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      .input-field {
        width: 100%;
        input {
          padding: 10px 110px 10px 70px;
        }
        .icon-wrap {
          color: #333a4c;
          position: absolute;
          top: 0;
          left: 0;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -ms-flex-align: center;
          align-items: center;
          width: 60px;
          height: 100%;
        }
      }
    }
    .btn-delete {
      min-width: 100px;
      height: 40px;
      padding: 0 15px;
      background: 0 0;
      white-space: nowrap;
      border-radius: 3px;
      font-size: 14px;
      color: #555;
      transition: all .2s ease-out,color .2s ease-out;
      border: 0;
      cursor: pointer;
      font-weight: 700
    }
    .advance-search {
      background: #fff;
      padding: 40px;
      border-radius: 5px;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      .desc {
        font-size: 15px;
        color: #999;
        display: block;
        margin-bottom: 26px;
      }
      .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px;
        &.second {
          margin-bottom: 46px;
        }
        &.third {
          margin-bottom: 0;
        }
      }
      .input-field {
        width: calc(33.3333% - 30px);
      }
      .input-select {
        height: 40px;
      }
    }
  }
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  user-select: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ms-options-wrap > button > span {
  position: absolute;
  top: 0;
  left: 15px;
}

@media screen and (max-width: 767px) {
  #search-form .inner-form {
    .basic-search .input-field {
      input {
        padding: 10px 110px 10px 60px;
      }
      .icon-wrap {
        width: 60px;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    .advance-search {
      .row {
        display: block;
      }
      .input-field {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}