<div id="wrap">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1>ИНФОРМАЦИЯ ДЛЯ ПРАВООБЛАДАТЕЛЕЙ ИЗ РФ</h1>
                        <p>Обновлено: 9 Сентября, 2019</p>
                        <p>Уважаемые владельцы лицензий, по вашим документам у вас есть право распространять аниме (на которое выдана лицензия) только на территории Российской Федерации, а не глобально в интернете.</p>
                        <p>Сайт nekko.ch не находится на территории РФ, сами видео не находятся физически у нашего хостера. Тот факт, что сайт на русском языке - не делает его российским.</p>

                        <p>И если у вас остались все таки вопросы то пишите на почту <a href="mail:admin@nekko.ch">admin@nekko.ch</a> с пометкой <b>[Copyright issue]</b>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>