<header class="head-sticky">
  <div class="container">
    <div class="head-in center" id="head-in">
      <a href="/" class="logotype" title="На главную">Nekko - Не только читай но и смотри!</a>
      <ul class="head-menu clearfix" id="head-menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Новости</a></li>
        <li>
          <a href="#">Поиск</a>
          <ul class="hidden-menu">
            <li><a href="#">Аниме</a></li>
            <li><a href="#">Манга</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Обратная связь</a>
        </li>

        <li class="head-ic">
          <a href="#">
            <span class="fa fa-user"></span>
            <!--          <div class="loginbtn img-box" id="loginbtn"></div>-->
          </a>
          <ul class="hidden-menu login-box">
            <li>{login}</li>
          </ul>
        </li>
        <li class="head-ic">
          <a href="#"><span class="fa fa-search"></span></a>
          <ul class="hidden-menu search-box">
            <li>
              <div>
                <form id="quicksearch" method="post">
                  <input type="hidden" name="do" value="search" />
                  <input type="hidden" name="subaction" value="search" />
                  <div class="search-inner">
                    <input id="story" name="story" placeholder="Поиск..." type="text" />
                    <button type="submit" title="Найти">поиск</button>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </li>
        <!--<li class="head-ic head-share"><a href="#"><span class="fa fa-share-alt"></span></a>
         <ul class="hidden-menu">
           <li><a href="#">моб</a></li>
           <li><a href="#">Ссылка</a></li>
           <li><a href="#">Ссылка</a></li>
         </ul>
         </li>-->
      </ul>
    </div>
  </div>
</header>