<div id="wrap">

    <div class="rules">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1>О сайте</h1>
                        <p>Обновлено: 9 Сентября, 2019</p>
                        <p>Наверно не самая лучшая попытка написать сайт для просмотра аниме и чтения манги.</p>
                        <p>Приложение писалось в одиночку и это значит что очень сложно все было реализовать и тем более грамотно. Если есть вопросы на счет приложения, я всегда готов их выслушать в личной беседе или в VK.</p>

                        <h2>Контакты</h2>
                        <ul style="list-style-type:circle;">
                            <li><a href="https://vk.com/keelvel">VK</a></li>
                            <li><a href="https://github.com/deissh">GitHub</a></li>
                            <li><a href="https://t.me/deissh">Telegram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>