<div id="wrap">

    <div class="rules">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1>Правила сайта</h1>
                        <p>Обновлено: 9 Сентября, 2019</p>
                        <p>Незнание правил не освобождает вас от ответственности за их нарушение, убедительно рекомендуем с ними ознакомиться.</p>
                        <p>На всем сайте категорически запрещены:</p>
                        <ul style="list-style-type:circle;">
                            <li>Расизм</li>
                            <li>Разжигание межнациональной розни</li>
                            <li>Пропаганда фашизма/нацизма</li>
                            <li>Пропаганда наркотиков и реклама ресурсов, содержащих их рекламу и информацию</li>
                        </ul>
                        
                        <h2>Аккаунт</h2>

                        <ul style="list-style-type:circle;">
                            <li>У каждого пользователя может быть только один аккаунт. Найденные твинки(фейки) будут блокироваться.</li>
                            <li>В никах не должна присутствовать нецензурная лексика (как прямая, так и завуалированная), оскорбительные выражения (в том числе расистского характера), текст связанный с порнографией</li>
                            <li>Ваш ник не должен подделывать существующие ники (использовать ники, трудноразличимые написанием от ника какого-либо другого пользователя)</li>
                            <li>Длина ника должна находиться в пределах от 3 до 20 видимых символов</li>
                            <li>Аватарка пользователя - статичное изображение с расширением файла .png или .jpg(.jpeg)</li>
                            <li>Изображение не должно содержать контент 18+</li>
                            <li>Изображение не должно содержать насилие или пропаганду (наркотиков, религии, фашизма и т.д.)</li>
                            <li>Длина ника должна находиться в пределах от 3 до 20 видимых символов.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>