<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="slider/owl.carousel.min.css">
    <link rel="stylesheet" href="slider/owl.theme.default.min.css">
    <link href="style/index.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic'
        rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="p_prldr">
        <div class="contpre"><span class="svg_anm"></span><br>Подождите...<br><small>идет загрузка</small></div>
    </div>
    <div class="wrap">

        <!-- end head-sticky -->
        <div class="slider-bg">
            <div class="slider-overlay">
                <div class="owl-carousel owl-theme">
                    <!--carousel__item-->
                    <article class="carousel__item">
                        <a title="{title}" href="{full-link}">
                            <header class="carousel__item-header">

                                <div class="c__item-image">
                                    <figure><img src="https://cdn.anibe.ru/manga/One_Punch_Man/cover/cover.jpg" alt=""
                                            srcset=""></figure>
                                </div>

                                <div class="label label__rate">10</div>

                                <div class="label label__pg">2017</div>

                            </header>
                            <footer class="carousel__item-bottom">
                                <div class="c__item-titleslide">One punchmen</div>

                                <span class="card__rateslide">
                                    <div class="card__short-rate ci__rate">
                                        <div class="short-rate-perc">90%</div>
                                    </div>
                                </span>
                            </footer>
                        </a>
                    </article>

                    <article class="carousel__item">
                        <a title="{title}" href="{full-link}">
                            <header class="carousel__item-header">

                                <div class="c__item-image">
                                    <figure><img src="https://st.kp.yandex.net/images/film_iphone/iphone360_707090.jpg"
                                            alt="" srcset=""></figure>
                                </div>

                                <div class="label label__rate">9.4</div>

                                <div class="label label__pg">2012</div>

                            </header>
                            <footer class="carousel__item-bottom">
                                <div class="c__item-titleslide">Психо-паспорт ТВ-2</div>

                                <span class="card__rateslide">
                                    <div class="card__short-rate ci__rate">
                                        <div class="short-rate-perc">90%</div>
                                    </div>
                                </span>
                            </footer>
                        </a>
                    </article>

                    <article class="carousel__item">
                        <a title="{title}" href="{full-link}">
                            <header class="carousel__item-header">

                                <div class="c__item-image">
                                    <figure><img src="https://st.kp.yandex.net/images/film/661247.jpg" alt="" srcset="">
                                    </figure>
                                </div>

                                <div class="label label__rate">9.4</div>

                                <div class="label label__pg">2012</div>

                            </header>
                            <footer class="carousel__item-bottom">
                                <div class="c__item-titleslide">10 храбрецов</div>

                                <span class="card__rateslide">
                                    <div class="card__short-rate ci__rate">
                                        <div class="short-rate-perc">90%</div>
                                    </div>
                                </span>
                            </footer>
                        </a>
                    </article>
                    <!--end carousel__item-->
                </div>
            </div>
        </div>
        <div class="main center">
            <div class="cols clearfix">
                <div class="cont">
                    <div class="maines">
                        <h1 class="top-title mains">Последние новости</h1>
                    </div>

                    <div class="sorter clearfix" data-label="Сортировать по:">

                    </div>
                    <div class="floaters clearfix grid-thumb" id="grid">

                        <article class="short__item">
                            <a title="{title}" href="{full-link}">
                                <header class="carousel__item-header">

                                    <div class="news-i img-box ps-link" data-link="{full-link}">
                                        <span class="topicImagenews"
                                            style="background-image: url(https://avatars.mds.yandex.net/get-pdb/1376537/4472b99e-b310-4b70-8a91-1a29e07dd41b/s1200);"></span>
                                        <span class="fa fa-eye"></span>
                                    </div>

                                    <div class="label label__rate"><span><span class="fa fa-commenting"></span>
                                            10</span></div>
                                    <div class="label label__rating">
                                        <div class="short-rate-perc">10/100</div>
                                    </div>
                                    <div class="label label__pg">100 <span><i class="fas fa-eye"></i></span></div>
                                </header>
                                <footer class="short__item-bottom">
                                    <div class="c__item-title">Технические работы</div>
                                </footer>
                            </a>
                        </article>


                    </div>
                </div>
                <!-- end cont -->
                <aside class="side" id="side">
                    <div class="side-b">
                        <div class="side-bt">Последние обновления</div>
                        <div class="side-bc">

                            <div class="ser">
                                <a class="ser-t nowrap" href="{full-link}">Психо-паспорт 2</a>
                                <div class="ser-s">
                                    2 сезон
                                    1 серия
                                </div>
                                <div class="ser-d">20 июля</div>
                                <div class="ser-i img-box ps-link" data-link="{full-link}">
                                    <span class="topicImage"
                                        style="background-image: url(https://st.kp.yandex.net/images/film_iphone/iphone360_707090.jpg);"></span>
                                    <span class="fa fa-play-circle"></span>
                                </div>
                            </div>
                            <div class="ser">
                                <a class="ser-t nowrap" href="{full-link}">One punchmen</a>
                                <div class="ser-s">
                                    2 сезон
                                    1 серия
                                </div>
                                <div class="ser-d">20 июля</div>
                                <div class="ser-i img-box ps-link" data-link="{full-link}">
                                    <span class="topicImage"
                                        style="background-image: url(https://cdn.anibe.ru/manga/One_Punch_Man/cover/cover.jpg);"></span>
                                    <span class="fa fa-play-circle"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="side-b">
                        <div class="side-bt">Наивысший рейтинг</div>
                        <div class="side-bc">

                            <div class="ser">
                                <a class="ser-t nowrap" href="{full-link}">Психо-паспорт 2</a>
                                <div class="ser-s">
                                    2 сезон
                                    1 серия
                                </div>
                                <div class="ser-d">20 июля</div>
                                <div class="ser-i img-box ps-link" data-link="{full-link}">
                                    <span class="topicImage"
                                        style="background-image: url(https://st.kp.yandex.net/images/film_iphone/iphone360_707090.jpg);"></span>
                                    <span class="fa fa-play-circle"></span>
                                </div>
                            </div>
                            <div class="ser">
                                <a class="ser-t nowrap" href="{full-link}">One punchmen</a>
                                <div class="ser-s">
                                    2 сезон
                                    1 серия
                                </div>
                                <div class="ser-d">20 июля</div>
                                <div class="ser-i img-box ps-link" data-link="{full-link}">
                                    <span class="topicImage"
                                        style="background-image: url(https://cdn.anibe.ru/manga/One_Punch_Man/cover/cover.jpg);"></span>
                                    <span class="fa fa-play-circle"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="side-b">
                        <div class="side-bt">Случайные новости за месяц</div>
                        <div class="side-bc">

                            <div class="ser">
                                <a class="ser-t nowrap" href="{full-link}">Психо-паспорт 2</a>
                                <div class="ser-s">
                                    2 сезон
                                    1 серия
                                </div>
                                <div class="ser-d">20 июля</div>
                                <div class="ser-i img-box ps-link" data-link="{full-link}">
                                    <span class="topicImage"
                                        style="background-image: url(https://st.kp.yandex.net/images/film_iphone/iphone360_707090.jpg);"></span>
                                    <span class="fa fa-play-circle"></span>
                                </div>
                            </div>
                            <div class="ser">
                                <a class="ser-t nowrap" href="{full-link}">One punchmen</a>
                                <div class="ser-s">
                                    2 сезон
                                    1 серия
                                </div>
                                <div class="ser-d">20 июля</div>
                                <div class="ser-i img-box ps-link" data-link="{full-link}">
                                    <span class="topicImage"
                                        style="background-image: url(https://cdn.anibe.ru/manga/One_Punch_Man/cover/cover.jpg);"></span>
                                    <span class="fa fa-play-circle"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </aside>
                <!-- end side -->
            </div>
            <!-- end cols -->
        </div>
        <!-- end main -->
        <div class="bottom-last">
            <div class="center clearfix">
                <div class="copyr">© 2019 NEKKO.CH</div>
                <div class="counts">
                    <!-- например яндекс-метрика -->
                </div>
            </div>
        </div>
    </div>
    <!-- end wrap -->
    <ul class="mob-menu" id="mob-menu"></ul>
    <!-- мобильное меню, не удалять -->

    <script src="https://kit.fontawesome.com/73aaf898c8.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/libs.js"></script>
    <script src="slider/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            center: true,
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            autoWidth: true,
            items: 5,
            merge: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
        })
    </script>
</body>

</html>