<div id="profile">
  <div class="full_header-bg">
    <div class="full_header__bg-img" style="background-image: url(<%= url_for(@user.background_path) %>);"></div>
  </div>

  <div class="main center container">
    <div class="clearfix">
      <div class="row block">
        <div class="col-12 col-sm-3">
          123
        </div>
        <div class="flex-row col-12 col-sm-9">
            <% Anime.limit(10).each do |anime| %>
              <%= render 'shared/anime/short', anime: anime %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>