// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile {
  background: #f3f5fd;
    
  .full_header-bg {
      border-radius: 0px;
      max-height: 350px;
  }

  .main {
     margin-top: 200px;

     .profile-image {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        max-height: 380px;
        width: 100%;
     }
     .profile-actions {
       a {
         border-radius: 0;
         padding: 0;
         margin: 0;
       }

       :last-child {
         border-bottom-right-radius: 0.25rem;
         border-bottom-left-radius: 0.25rem;
       }
     }

     .block {
        padding-top: 15px;
     }
  }
}