// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile {
    background: #f3f5fd;
    
    .full_header-bg {
        border-radius: 0px;
        max-height: 350px;
    }

    .main {
        margin-top: 200px;

        .block {
            padding-top: 15px;
        }
    }
}